doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Automate Yourself Out of a Job
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article#presentation
      section
        .fullscreen
          x-gif(src="images/madness.gif", fill, n-times=10)
        .box.top.left.notify(title="Swipe or use arrow keys to navigate &rarr;", data-position="bottom center", data-noarrow="1")
          h2 <span class="accent">Automate</span> Yourself
          h4.mid out of
          h2 A Job
          .mid by
          h2.notranslate Adam Eivy <span class="rocking">\[._.]/</span>
            .me.center
          h4 Talk Time: 30 minutes
          h4 Updated: 2019.05.23
          a(href="https://bit.ly/automate_yourself") Hosted on bit.ly/automate_yourself

      section.gplay.jellybean
        .box.dark
          h1 ...
          .mid ...
          ul
            li ...
            li ...
            li ...

      section.treebark.jellybean
        .box.dark
          h1 ...
          .mid ...
          ul
            li ...
            li ...
            li ...
            
      section
        .fullscreen
          x-gif(src="images/perfect_beardscratch.gif" fill)
          .credit cinema gif thanks to :&nbsp;
            a(href="http://www.gideondevilliers.com",target="off") gideon de villiers

      section.gplay.jellybean
        .multibox
          h2.title: .mid <span class="reg z150">🤔</span>&nbsp; ...
          .box.left
            h2 ...
            .mid ...
            pre.line-numbers: code.language-javascript.
              ...
          .box.right
            h2 ...
            .mid ...
            pre.line-numbers: code.language-javascript.
              ...
          h2.foot: .mid <span class="reg z150">🤩</span>&nbsp; ...
      
      section
        .fullscreen
          x-gif(src="images/perfect_lostmind.gif", fill)
        .box.bottom.right.wait-for-gif
          h2 ...
      
      section.gplay.jellbean
        .fullscreen.blur2
          x-gif(src="images/nuke-4.gif", fill, n-times=1)
        .box.wait-for-gif.notify(title="don't mess up", data-position="bottom center")
          h2 Automation Can Go Wrong

      section
        .fullscreen
          x-gif(src="images/eraserhead.gif", fill)

      section.white
        .fullscreen
          img.fillh(src="images/rectangular_rotations.png")
        .box.black
          h1 Drawing Rectangles
          a(href="https://github.com/atomantic/rectanglar_rotations") https://github.com/atomantic/rectanglar_rotations

      section.blue.washi
        .box
          h1 ...
      
      section.midnight.washi
        .box.z150
          h1 ...

      section
        .fullscreen
          x-gif(src="images/slow_clap.gif", fill, speed=.5, n-times=10)
        .multibox
          .box.right.bottom
            h1 🤔 Q&amp;A?
          .box.left.top.black.z120
            h1.mid Cheers!
            .line
              .me.center
            h2
              span.notranslate.emoticon.rocking \[._.]/
              span.notranslate &nbsp; Adam Eivy
            h3 
            h3 Twitter:
              a(href='https://twitter/antic') &nbsp; @antic
            small: a.back(href='#1') &nbsp; restart

    script(src='build/build.js')
